.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1360px;
  margin: 0 auto;
  background-color: #F3F3F3;
}

.footer__author {
  margin: 0;
  font-family: "Cabinet Grotesk", "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.footer__year {
  margin: 0;
  font-family: "Cabinet Grotesk", "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
